@CHARSET "ISO-8859-1";

div.form {
	display: block;
	text-align: center;
}

form {
	display: inline-block;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
}

.usertable {
	width: 400px padding: 10px;
	border: 1px blue solid
}

input[type=text] {
	width: 250px
}

.label {
	text-align: right vertical-align: top
}

.button {
	text-align: center
}

.formcontrol {
	margin-left: 10px
}